<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Currículo digital de Anderson Souza">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="icon" href="./assets/images/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="./assets/css/estilo.css">
    <script src="./assets/js/vue.js"></script>
    
    <title>Currículo | Anderson Souza</title>
    <script>
        document.documentElement.classList.add("js");
    </script>
</head>
<body>
    <header id="header">
        
        <section aria-label="Cabeçalho inicial que abrange a logo e os títulos" class="header container">

            <div class="header-logo col-2">
                <img src="./assets/images/icons/logoas.svg" class="fadeInDown" data-anime="200" width="44" height="54" alt="">
            </div>

            <div class="header-titles col-2">
                <h3 id="text-header" class="font-2-l-b cor-14 fadeInDown" data-anime="300">{{title}}</h3>
                <h1 id="myName" class="font-1-xxl cor-w fadeInDown" data-anime="400">Anderson Souza</h1>
            </div>

        </section>

        <section class="header-menuSimples container fadeInDown" data-anime="500" aria-label="Área do cabeçaho que abrange o menu que contém as redes sociais ao lado esquerdo e links secundários ao lado direito">

            <div class="left">
                <a href="https://www.instagram.com/oproprioansu/"><img src="./assets/images/icons/5279112_camera_instagram_social media_instagram logo_icon.svg" width="32" height="32" alt="Icone com o link para o meu instagram"></a>
                <a href="https://www.facebook.com/AndersonASDF/"><img src="./assets/images/icons/4747497_social media_facebook_icon.svg" width="32" height="32" alt="Icone com o link para o meu facebook"></a>
                <a href="https://br.linkedin.com/in/anderson-souza-20b732112"><img src="./assets/images/icons/linkedin.svg" width="32" height="32" alt="Icone com o link para o meu linkedin"></a>
            </div>
            
            <div class="right font-2-m cor-12">
                <a href="projetos/projetos.html" class="link">projetos</a>
                <a href="#contato" class="link">localização</a>
            </div>

        </section>

        <section class="header-menuPrincipal container">
            <section class="menuPrincipal" aria-label="Área do cabeçalho que abrange o menu principal que contém caixas dando acesso">
                <div class="box box1 fadeInDown" data-anime="600">
                    <h2 class="font-2-l-b cor-14">experiência</h2>
                    <p class="font-2-s cor-12">
                        Minha mais recente experiência profissional é como educador de informática...
                    </p>
                    <a href="#experiencia" class="btn cor-p1">saiba mais</a>
                </div>
                <div class="box box1 fadeInDown" data-anime="650">
                    <h2 class="font-2-l-b cor-14">formação</h2>
                    <p class="font-2-s cor-12">
                        Minha mais recente formação é um tecnólogo em Gestão de TI pelo Centro Universitário...
                    </p>
                    <a href="#formacao" class="btn cor-p1">saiba mais</a>

                </div>
                <div class="box box1 fadeInDown" data-anime="700">
                    <h2 class="font-2-l-b cor-14">sobre mim</h2>
                    <p class="font-2-s cor-12">
                        Chamo-me Anderson e sou formado em Gestão de TI. Sempre gostei de informática...
                    </p>
                    <a href="#sobre" class="btn cor-p1">saiba mais</a>

                </div>
                <div class="box box1 fadeInDown" data-anime="800">
                    <h2 class="font-2-l-b cor-14">contato</h2>
                    <p class="font-2-s cor-12">
                        Estou disponível para novos projetos. Que tal marcarmos uma conversa?
                    </p>
                    <a href="#contato" class="btn cor-p1">saiba mais</a>

                </div>
            </section>
            <a class="backToTop" href="#header">
                
            </a>
        </section>
        
      
    </header>

    <main id="informacoes">

        <div class="informacoes">

        <div id="experiencia" class="container js-scroll">

            <h1 class="font-1-xxl-u cor-12">experiência</h1>

            <div class="experiencias">
                <div class="experiencia">
                    <p class="ano font-2-l-b cor-8">2016</p>
                    <div class="empresa">
                        <h2 class="font-2-l-b">Prepara cursos</h2>
                        <p class="font-1-m-sb">
                            Responsável por tirar as dúvidas dos alunos em relação aos cursos oferecidos pela escola, criação de planilhas eletrônicas e projetos gráficos para a área comercial da escola.
                        </p>
                    </div>
                </div>
                <div class="cargo">
                    <h2 class="font-2-l-b">Educador de informática</h2>
                    <div class="habilidades">
                        <span v-for="habilidade in habilidades" class="btnS font-1-m-sb">{{habilidade.habilidade}}</span>
                    </div>
                </div>
            </div>
            

        </div>

        <div id="formacao">

           <div class="formacao container" >

            <h1 class="font-1-xxl-u cor-6">formação</h1>

            <div class="formacao-conteudo js-scroll">

                <p class="font-2-l cor-12">
                    Minha mais recente experiência acadêmica é o tecnólogo em<span>Gestão de TI,</span> além disso mantenho-me sempre atualizado com cursos intensivos online.
                </p>
                <div class="graduacoes">
                    <div class="formacao-curso">
                        <p class="font-2-m-b cor-14">Tecnólogo</p>
                        <h2 class="font-2-l-b cor-w">gestão de ti</h2>
                        <p class="font-2-m cor-14">Centro Universitário DomBosco</p>
                        <p class="font-2-m cor-14">Situação: <span>concluído</span> </p>
                    </div>
                    <div class="formacao-curso">
                        <p class="font-2-m-b cor-14">Bacharelado</p>
                        <h2 class="font-2-m-b cor-w">engenharia de software</h2>
                        <p class="font-2-m cor-14">UNIFANOR</p>
                        <p class="font-2-m cor-14">Situação: <span>em conclusão</span> </p>
                    </div>
                </div>

                <div class="cursos-intensivos">
                    <h2 @load="fetchAllInformation" class="font-2-m cor-12">Cursos intensivos</h2>
                    <div  class="cursos">
                        <div class="curso" v-for="informacao in informacoes">
                            <h2 class="font-2-m cor-w">{{informacao.nome}}</h2>
                            <p class="font-1-m cor-12">{{informacao.cargaHoraria}}</p>
                            <p class="font-1-m cor-12" v-if="informacao.certificado !== ''"><a :href="informacao.certificado" target="_blank">Ver certificado</a></p>
                            <p class="font-1-m cor-12" v-else>Certificado impresso</a></p>
                        </div>
                        </div>
                    </div>
                        <div id="idiomas" class="idiomas cor-w">
                            <h2 class="font-2-m cor-12">Idiomas</h2>
                            <p v-for="idioma in languages" class="font-2-m cor-w">{{idioma.idioma}} <span>/ {{idioma.nivel}}</span></p>
                        </div>
                    </div>

            </div>

           </div>

        </div>

        <div id="sobre">
            
            <div class="sobre container js-scroll">
                <div class="title">
                    
                <h1 class="font-1-xxl cor-12">
                    Olá, sou o Anderson.
                </h1>

                </div>
                <div class="font-1-l">
                    <p>Eu sou novo no mercado, porém já construi diversos sites que me serviram de experiência.</p>
                    <p>No momento estou mais focado na parte de Front-End, mas estou estudando também o Back-End, pois pretendo ser FullStack.</p>
                    <p>Moro em Fortaleza - CE (bem pertinho da praia).</p>
                </div>
            </div>

        </div>
    </div>
    </main>
    <footer id="contato" class="contato">

        <section class="footer container">

            <div class="footer-left">

                <h2 class="font-2-l-b cor-14">Contato comercial</h2>
                    <div class="info-contato">
                        <span class="font-1-s cor-w"><a href="mailto:andersondesouzafeitosa@outlook.com">andersondesouzafeitosa@outlook.com</a></span>
                        <span class="font-1-s cor-w"><a href="tel:+5585996541425">+55 85 99654-1425</a></span>
                        <p class="font-2-xs cor-14">
                            Estou disponível para novos projetos no momento. Entre em contato comigo e marcamos uma conversa.
                        </p>
                    </div>
            </div>
            <div class="footer-right">
                <h2 class="font-2-l-b cor-14">Redes sociais</h2>
                    <div class="info-redes">
                        <span class="font-1-s cor-w"><a href="https://www.instagram.com/oproprioansu/">@oproprioansu</a></span>
                        <span class="font-1-s cor-w"><a href="https://www.facebook.com/AndersonASDF/">/AndersonASDF</a></span>
                        <p class="font-2-xs cor-14">
                            Alguns direitos &copy; reservados a Anderson Souza
                        </p>
                    </div>

            </div>

        </section>

    </footer>
    <script src="./assets/js/cursosEidiomas.js"></script>
    <script src="./assets/js/simple-anime.js"></script>
    <script src="./assets/js/script.js"></script>
    <script src="./assets/js/animacaoScroll.js"></script>
    <script src="./assets/js/clickScrollSmooth.js"></script>
</body>
</html>
